<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class = "user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input  
                type="email" 
                name="email" 
                id="email"
                value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input  
                type="password" 
                name="password" 
                id="password"
                value="<%= oldInput.password %>">
                <input type = "hidden" name = "_csrf" value = "<%=csrfToken %>" > 
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
        <div class ="centered">
            <a href = "/reset">Reset Password</a>
        </div>

    </main>
<%- include('../includes/end.ejs') %>