<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class = "user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="<%= validationErrors.find(p=> p.param === 'email') ? 'invalid' : ''  %>" 
                type="email"
                 name="email" 
                 id="email" 
                 value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= validationErrors.find(p=> p.param === 'password') ? 'invalid' : ''  %>" 
                type="password" 
                name="password" 
                id="password" 
                value="<%= oldInput.password %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input class="<%= validationErrors.find(p=> p.param === 'confirmPassword') ? 'invalid' : ''  %>" 
                type="password" 
                name="confirmPassword" 
                id="confirmPassword" 
                value="<%= oldInput.confirmPassword %>">
            </div>
            <button class="btn" type="submit">Signup</button>
            <input type="hidden" name ="_csrf" value ="<%= csrfToken %>" > 
        </form>
    </main>
<%- include('../includes/end.ejs') %>